* {
  box-sizing: border-box;
}

:root{
  --header-text: #2c3e4c;
  --background-color: #e2e5cb;
  --header-color: #a2c4c6;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: var(--header-text);
}

a{
  text-decoration: none;
  color: var(--header-text);
}

a:hover{
  color: var(--header-color);
}

p {
  margin: 0;
  color: var(--header-te);
}

.custom-nav{
  background-color: var(--header-color);
}

.custom-jumbo{
  background-image: url("../images/02-hero-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: space-between;
}

#profile-pic{
  max-width: 20%;
  max-height: 20%;
  border-radius: 100%;
  border: 1px solid var(--header-text);
}

.jumbo-content{
  background-color: var(--background-color);
  color: var(--header-text);
  text-align: center;
  align-self: flex-end;
}

body {
  background-color: var(--background-color);
}

#about, #skills, #work, #contact{
  padding: 10px;
  text-align: justify;
}

.heading{
  text-align: right;
  text-shadow: 3px 3px 5px var(--header-color);
}
#work img{
  max-height: 200px;
}
 .cards-centered{
  margin: auto;
 }

 #phone{
  color: var(--header-text) !important;
 }

 .my-4{
  border-color: var(--header-color);
  border-width: 0.25rem;
  width: 3rem;
}